// ==UserScript==
// @name         test-app
// @namespace    https://github.com/IronKinoko/bocchi
// @version      #version#
// @description  #description#
// @author       IronKinoko
// @match        https://e-hentai.org/*
// @match        https://exhentai.org/*
// @grant        none
// ==/UserScript==
